<footer class="container flex justify-between p-2 border-t border-gray-300">
  <div>
    <a class="font-bold hover:underline" href="/">Kristiyan Bogdanov</a>
  </div>
  <div>
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">Twitter</a>
    <a href="https://github.com/kb1995" target="_blank" rel="noopener noreferrer">Github</a>
    <a href="https://www.linkedin.com/in/kris-bogdanov/" target="_blank" rel="noopener noreferrer">Linkedin</a>
  </div>
</footer>

<!-- JS stuff -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>