<footer class="mt-12 text-white bg-purple-900">
  <div class="max-w-7xl flex items-center justify-between px-4 py-4 mx-auto">
    <div>
      <a class="hover:underline font-bold" href="/">Kristiyan Bogdanov</a>
    </div>
    <div class="grid grid-cols-3 col-gap-3">
      <a href="https://twitter.com/{{ site.metadata.twitter }}" target="_blank" rel="noopener noreferrer"><div class="hover:text-purple-300 w-5 h-5 transition duration-300">{% insert_svg icons/twitter.svg %}</div></a>
      <a href="https://github.com/{{ site.metadata.github }}" target="_blank" rel="noopener noreferrer"><div class="hover:text-purple-300 w-5 h-5 transition duration-300">{% insert_svg icons/github.svg %}</div></a>
      <a href="https://www.linkedin.com/in/kris-bogdanov/" target="_blank" rel="noopener noreferrer"><div class="hover:text-purple-300 w-5 h-5 transition duration-300">{% insert_svg icons/linkedin.svg %}</div></a>
    </div>
  </div>
</footer>

<!-- JS stuff -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>