---
layout: default
---

<section class="mt-3">
          <div class="w-100 w-lg-50 container mx-auto my-5">
          <div class="text-center-children">
            <h1 class="md:text-5xl lg:text-6xl text-4xl font-bold text-center">{{ page.title }}</h1>
            <h2 class="lg:text-2xl lg:w-4/5 md:w-10/12 mx-auto mb-3 text-xl text-center text-gray-800">{{ page.subtitle }}</h2>
            <h5 class="mb-3 text-lg font-light text-center text-gray-600">{{ page.date | date_to_long_string }}</h5>
          </div>
        </div>
        <div class="overflow-hidden">
          <div class="blog-main-image" style="background: linear-gradient( rgba(0, 0, 0, 0.10 ), rgba(0, 0, 0, 0.10)), url('{{site.baseurl}}/images/{{page.image}}');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 400px;
          "></div>
        </div>
  <div class="max-w-4xl px-4 mx-auto">
    <div class="prose prose-xl prose-purple mt-12">
      {{ content }}
    </div>

    <div class="blog-footer text-center">
      <div class="image-wrapper">
        <img class="mt-3 mb-1 rounded-full" src="{{site.baseurl}}/images/profile.jpg">
      </div>
      <div>
        <div
          class="my-3"
        >
          <h5
            class="mb-3 mr-3 text-2xl text-center"
          >
            Get a tweet whenever I write a new article -
            <a
              href="https://twitter.com/{{ site.metadata.twitter }}"
              target="_blank"
              class="text-blue-500 hover:text-blue-600 hover:underline"
              >Follow me on Twitter</a
            >
          </h5>
        </div>
      </div>
    </div>
      <div class="p-5 my-4 text-white bg-purple-600 rounded-lg">
        <h2 class="text-3xl font-semibold text-center">
          Invite me to your inbox.
        </h2>
        <p class="lg:w-3/5 w-4/5 mx-auto text-lg text-center text-gray-200">
          I will send you an email from times to times with articles and resources on how to build a career in development, travel and other random thoughts.
        </p>
        <form
          class="lg:w-3/5 sm:flex embeddable-buttondown-form justify-center mx-auto mt-8 mb-3"
          action="https://buttondown.email/api/emails/embed-subscribe/krisbogdanov"
          method="post"
          target="popupwindow"
          onSubmit="window.open('https://buttondown.email/krisbogdanov', 'popupwindow')"
        >
          <input
            aria-label="Email address"
            type="email"
            name="email"
            required
            class="focus:outline-none focus:placeholder-gray-400 w-full px-5 py-3 text-base leading-6 text-gray-900 placeholder-gray-500 transition duration-150 ease-in-out bg-white border border-transparent rounded-md appearance-none"
            placeholder="Enter your email"
            id="bd-email"
          />
          <input type="hidden" value="1" name="embed"></input>
          <div class="sm:mt-0 sm:ml-3 sm:flex-shrink-0 mt-3 rounded-md shadow">
            <input
              class="hover:bg-purple-400 focus:outline-none focus:bg-purple-400 flex items-center justify-center w-full px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-purple-500 border border-transparent rounded-md cursor-pointer"
              type="submit"
              value="Subscribe"
            ></input>
          </div>
        </form>
        <p class="mt-3 text-sm text-center text-gray-200">
          No spam. Unsubscribe at any time.
        </p>
  </div>
  </div>
</section>
