---
layout: page
---

<main class="container grid grid-cols-1 row-gap-16">
  <!-- Hero -->
  <section class="lg:mt-32 lg:flex-row flex flex-col mt-12 mb-16">
    <div class="lg:w-3/5 lg:mb-0 mb-8">
      <h1 class="lg:text-5xl lg:w-4/5 mb-8 text-4xl font-bold">
        i code, build, teach, write and occasionally ship. 
      </h1>
      {% assign post = site.posts.first %}
      <a
        class="hover:bg-purple-500 focus:outline-none focus:shadow-outline inline px-4 lg:px-16 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-purple-600 border border-transparent rounded-md cursor-pointer"
        data-aos="zoom-in"
        data-aos-delay="500"
        data-aos-duration="500"
        href="{{ root_url }}{{ post.url }}"
        >Read my latest blog post</a
      >
    </div>
    <img class="lg:w-2/5 rounded-lg" src="{{site.baseurl}}/images/hero.jpg" alt="">
  </section>

  <!-- Recent articles -->
  <section>
    <div class="px-3">
      <h2 class="mb-4 text-4xl font-semibold">Recent articles</h2>
    </div>
    <div class="mt-12 grid gap-5 max-w-lg mx-auto lg:grid-cols-3 lg:max-w-none">
      {% assign counter = 0 %} {% for post in site.posts %} {% unless
      post.category contains "travel" %} {% assign counter = counter | plus: 1 %}
        <div style="will-change: transform" class="transition duration-300 transform hover:-translate-y-2 hover:shadow-xl flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="{{site.baseurl}}/images/{{ post.image }}" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <a href="{{ post.url }}" class="block">
                <h3 class="mt-2 text-xl leading-7 font-semibold text-gray-900">
                  {{ post.title }}
                </h3>
                <p class="mt-3 text-base leading-6 text-gray-500">
                  {{ post.subtitle }}
                </p>
              </a>
            </div>
            <div class="mt-6 flex items-center">       
              <div class="flex text-sm leading-5 text-gray-500">
                <p>
                  {{ post.date | date: "%b, %Y" }}
                </p>
                {% if post.minutes %}
                  <span class="mx-1">
                    &middot;
                  </span>
                  <span>
                    {{ post.minutes }} min read
                  </span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endunless %} {% if counter == 3 %} {% break %} {% endif %} {% endfor %}
    </div>

    <div class="mt-6">
      <a class="hover:bg-purple-500 focus:outline-none focus:shadow-outline lg:w-auto inline-flex justify-center w-full px-16 py-3 mx-auto text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-purple-600 border border-transparent rounded-md cursor-pointer" href="/blog/"
        >All articles</a
      >
    </div>
  </section>

  <!-- Recent travels -->
  <section>
    <div class="px-3">
      <h2 class="mb-4 text-4xl font-semibold">Recent travels</h2>
    </div>
    <div class="mt-12 grid gap-5 max-w-lg mx-auto lg:grid-cols-3 lg:max-w-none">
      {% assign counter = 0 %} {% for post in site.posts %} {% if
      post.category contains "travel" %} {% assign counter = counter | plus: 1 %}
      <div style="will-change: transform" class="transition duration-300 transform hover:-translate-y-2 hover:shadow-xl flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="{{site.baseurl}}/images/{{ post.image }}" alt="">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <a href="{{ post.url }}" class="block">
              <h3 class="mt-2 text-xl leading-7 font-semibold text-gray-900">
                {{ post.title }}
              </h3>
              <p class="mt-3 text-base leading-6 text-gray-500">
                {{ post.subtitle }}
              </p>
            </a>
          </div>
          <div class="mt-6 flex items-center">       
            <div class="flex text-sm leading-5 text-gray-500">
              <p>
                {{ post.date | date: "%b, %Y" }}
              </p>
              {% if post.minutes %}
                <span class="mx-1">
                  &middot;
                </span>
                <span>
                  {{ post.minutes }} min read
                </span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %} {% if counter == 3 %} {% break %} {% endif %} {% endfor %}
    </div>
    <div class="mt-6">
      <a class="hover:bg-purple-500 focus:outline-none focus:shadow-outline lg:w-auto inline-flex justify-center w-full px-16 py-3 mx-auto text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-purple-600 border border-transparent rounded-md cursor-pointer" href="/travel/"
        >All locations</a
      >
    </div>
  </section>

  <!-- Subscribe -->
  <section>
      <div class="p-5 my-6 text-white bg-purple-600 rounded-lg">
        <h2 class="lg:text-4xl text-3xl font-semibold text-center">
          Invite me to your inbox.
        </h2>
        <p class="lg:w-3/5 lg:text-xl w-4/5 mx-auto text-lg text-center text-gray-200">
          I will send you an email from times to times with articles and resources on how to build a career in development, travel and other random thoughts.
        </p>
        <form
          class="lg:w-3/5 sm:flex embeddable-buttondown-form justify-center mx-auto mt-8 mb-3"
          action="https://buttondown.email/api/emails/embed-subscribe/krisbogdanov"
          method="post"
          target="popupwindow"
          onSubmit="window.open('https://buttondown.email/krisbogdanov', 'popupwindow')"
        >
          <input
            aria-label="Email address"
            type="email"
            name="email"
            required
            class="focus:outline-none focus:placeholder-gray-400 w-full px-5 py-3 text-base leading-6 text-gray-900 placeholder-gray-500 transition duration-150 ease-in-out bg-white border border-transparent rounded-md appearance-none"
            placeholder="Enter your email"
            id="bd-email"
          />
          <input type="hidden" value="1" name="embed"></input>
          <div class="sm:mt-0 sm:ml-3 sm:flex-shrink-0 mt-3 rounded-md shadow">
            <input
              class="hover:bg-purple-400 focus:outline-none focus:bg-purple-400 flex items-center justify-center w-full px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-purple-500 border border-transparent rounded-md cursor-pointer"
              type="submit"
              value="Subscribe"
            ></input>
          </div>
        </form>
        <p class="mt-3 text-sm text-center text-gray-200">
          No spam. Unsubscribe at any time.
        </p>
  </div>
  </section>
</main>
